<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/style.css" />
    <title>Live Video Meet</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!--    Socket.io javascript link    !important otherwise will throw io not defined eror-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script>
      const ID = "<%= ID %>";
    </script>
  </head>
  <body>
    <div class="components row">
      <div class="video_component col-md-9">
        <div id="videoItem"></div>
        <div class="controls d-flex">
          <div class="control_audio_item">
            <i
              onclick="muteORunmute()"
              class="fa-solid fa-microphone audio"
            ></i>
          </div>
          <div class="control_video_item">
            <i onclick="stopORshow()" class="fa-solid fa-video video"></i>
          </div>
        </div>
      </div>
      <div class="messages_component col-md-3">
        <h5>Messages</h5>

        <div class="chat_box" id="chat_element"></div>
        <div class="chat_placeholder">
          <input
            type="text"
            placeholder="Enter message..."
            name="message"
            id="msg"
          />
          <button onclick="setMessage()" type="submit">Push</button>
        </div>
      </div>
    </div>

    <script src="../public/scriptfile.js"></script>
  </body>
</html>
