* {
    margin: 0;
    padding: 0;
    
}
body {
    overflow-x: hidden;
    background-color: #1A242F;
}

video {
    padding: 10px;
    height: 200px;
    width: 300px;
    object-fit: contain;
    cursor: pointer;
}


.messages_component {
    text-align: center;
    color: white;
    padding: 20px;
}
.video_component {
    background-color: #1A242F;
}

.controls {
    position: fixed;
    bottom: 0;
    left: 38%;
}

.controls i {
    color: white;
    font-size: 18px;
    padding: 20px;
    color: rgb(237, 53, 53);
    cursor: pointer;
    transition: all 0.6s;
}
.controls i:hover {
    background-color: aliceblue;
    border-radius: 10px;
    transform: scale(1.03);
}

.messages_component {
    background-color: black;
    height: 100vh;
    overflow-y: auto;
}
.messages_component h5,p {
    text-align: left;
}

.chat_box p {
    color: aliceblue;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.chat_placeholder {
    position: fixed;
    bottom: 0;
}
.chat_placeholder input {
    width: 250px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 3px;
}
.chat_placeholder ::placeholder {
    outline: none;
    color: rgb(225, 223, 223);
}
.chat_placeholder input:focus {
    outline: none;
}
.chat_placeholder button {
    padding: 2px 10px;
    color: black;
    background-color: rgb(11, 135, 243);
}




